[Unit]
Description=boot_setup

[Service]
ExecStart=/home/edge_device/edge_device/bin/python3 /home/edge_device/edge_device/webpage/boot_setup.py

[Install]
WantedBy=multi-user.target